{% extends 'world_challenge_web/base.html' %}

{% block content %}
<h3>To update your event</h3>
<a href="update" class="btn btn-info" role="button">Update</a>

<h1>Event: {{ object.name }}</h1>
<h2>Event Votes: {{ object.vote_score }} </h2> 

<p><strong>Description: </strong>  {{ object.description }}</p>
<p><strong>Location: </strong>  {{ object.location }}</p>
<p><strong>Date Created: </strong>  {{ object.date }}</p>



<p><strong>Event Submission: </strong>  {{ object.file_upload }}</p>


<form method="post">{% csrf_token %}
    <input type="submit" value="Vote">
</form>

{% endblock %}
