{% extends 'world_challenge_web/base.html' %}
{% load event_tags %}

{% block content %}
<h1>Event: {{ event.name }}</h1>
<h2>Event Votes: {% score_for_object object as score %}
    {{ score.score }}
    {{ score.num_votes }}

<p><strong>Description: </strong>  {{ event.description }}</p>
<p><strong>Location: </strong>  {{ event.location }}</p>
<p><strong>Date Created: </strong>  {{ event.date }}</p>



<p><strong>Event Submission: </strong>  {{ event.file_upload }}</p>

<a href="/" class="btn btn-primary btn-sm" role="like">Vote</a>
{% endblock %}
