{% extends 'base.html' %}

{% block content %}

{% if form.errors %}
  <p class="underline">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p class="warning">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
 <form class="form-inline">
<form method="post" novalidate>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% for field in form.visible_fields %}
    <div class="form-group">

      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="container">
<form class="form-signin">
<img class="mb-4" src="../../assets/brand/bootstrap-    solid.svg" alt="" width="72" height="72">

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
{% endblock %}
