import sendgrid
import os
from sendgrid.helpers.mail import *

sg = sendgrid.SendGridAPIClient(apikey=os.environ.get('SENDGRID_API_KEY'))
from_email = Email("hecklerchris@hotmail.com")
to_email = Email("heckles83@gmail.com")
subject = "Reset World Challenge password"
content = Content("text/plain", "Someone asked for password reset for email {{ email }}. Follow the link below: "
"{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}")

mail = Mail(from_email, subject, to_email, content)
response = sg.client.mail.send.post(request_body=mail.get())

print(response.status_code)
print(response.body)
print(response.headers)
