

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css'%}">
  <title>{% block title %} Override Here {% endblock %} - Something wrong on PackageToMe</title>
</head>

<body>
  <div class="container" style="margin-top:20px;">
    <div class="row">
      <div class="col-sm-12 col-md-6 offset-md-3">
        <div class="card">
          {% block content %} Override here {% endblock %}
        </div>
      </div>
    </div>
  </div>
</body>

</html>
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
{% load static %}
<!DOCTYPE html>
<html lang="en">
 
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css'%}">
  <title>{% block title %} Override Here {% endblock %} - Something wrong on PackageToMe</title>
</head>
 
<body>
  <div class="container" style="margin-top:20px;">
    <div class="row">
      <div class="col-sm-12 col-md-6 offset-md-3">
        <div class="card">
          {% block content %} Override here {% endblock %}
        </div>
      </div>
    </div>
  </div>
</body>
