{% extends 'world_challenge_web/base.html' %}

{% block content %}
<h3>To update your profile </h3>
<a href="{% url 'profile-update' user.id %}" class="btn btn-info" role="button">Update</a>

<h1>Profile: {{ user.username }}</h1>
{% for user in queryset %}

<p><strong>Bio: </strong>  {{ profile.bio }}</p>
<p><strong>Location: </strong>  {{ profile.location }}</p>
<p><strong>Birth Date:  </strong>  {{ profile.birth_date }}</p>
{% endfor %}


<p><strong>Avatar: </strong>  {{ profile.avatar }}</p>


{% endblock %}

