{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="../../../../favicon.ico"-->

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'world_challenge_web/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'world_challenge_web/css/starter-template.css' %}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">WCC</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/events">Event Lineup</a>
              <a class="dropdown-item" href="create_event">Create New Event</a>
            </div>
          </li>
	  {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/signup">SignUp</a>
          </li>
          {% endif %} 
        </ul>
	        {% if not user.is_authenticated %}
        <form class="navbar-search pull-right" action="/" method="post">
        {% csrf_token %}

            <input class="span2 mr-sm-2"
                   type="text"
                   name="username"
                   aria-label="Username"
                   placeholder="Username">
            <input class="span2 mr-sm-2"
                   type='password'
                   name='password'
                   id='password'
                   aria-label="Password"
                   placeholder="Password">
            <button class="btn btn-outline-success my-2 my-sm-0"
                    type="submit">Login</button>
        </form>
        {% else %}
        <form class="navbar-search pull-right" action="/auth/logout/" method="post">
         {% csrf_token %}
            <button class="btn btn-outline-success my-2 my-sm-0"
                    type="submit">Logout</button>
        </form>

        {% endif %}
      </div>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
        {% block content %}
	{% endblock %}

     </div>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'world_challenge_web/js/popper.min.js' %}"></script>
    <script src="{% static 'world_challenge_web/js/bootstrap.min.js' %}"></script>
  </body>
</html>

